<!DOCTYPE html>
<html lang="en">
<head>
    <title>TMS Panel - Ban Automation</title>

    <%- include("../../../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/panel.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="stylesheet" href="/assets/css/log.css">
    <link rel="stylesheet" href="/assets/css/inputs.css">
</head>
<body>
    <%- include("../../../../partials/panel/header") %>

    <div class="sidebar-container">
        <%- include("../../../../partials/panel/sidebar", {page: "automation/ban", session: session}) %>
        <main>
            <form method="POST" action="create" class="form">
                <section>
                    <h2><i class="fa-solid fa-ban"></i>Create a new Ban Automation</h2>

                        <div class="input-group">
                            <label for="automation-name">Automation Name</label>
                            <input type="text" name="automation-name" id="automation-name" placeholder="Automation Name" required="required" />
                        </div>
                </section>

                <div class="container container-md">
                    <section class="col-6">
                        <h2><i class="fa-solid fa-bullseye"></i> Automation Targets</h2>
    
                        <div class="input-group">
                            <label for="targets"></label>
                            <select name="targets" id="targets" multiple="multiple">
                                <% targets.forEach(target => { %>
                                    <option value="<%= target.id %>"><%= target.display_name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <small>Use <code>ctrl + click</code> to select multiple targets.</small>
                    </section>
                    <section class="col-6">
                        <h2><i class="fa-regular fa-scale-balanced"></i> Automation Rules</h2>
    
                        <div class="container container-md">
                            <div class="input-group col-4">
                                <label for="add-rule-type">Rule Type</label>
                                <select name="add-rule-type" id="add-rule-type">
                                    <option value="x" selected="selected" disabled="disabled">Select a Type</option>
                                    <option value="streamer">Streamer</option>
                                    <option value="moderator">Moderator</option>
                                    <option value="reason">Reason</option>
                                    <option value="chatlog">Chat Log</option>
                                </select>
                            </div>
                            <div class="input-group col-8" id="add-rule-value" style="display: none;">
                                <label for="add-rule-value">Rule Value</label>
                                <input type="text" name="add-rule-value" id="add-rule-value" />
                            </div>
                            <div class="user-search input-group col-8" style="display: none;" id="add-rule-twitchuser" data-search-name="rule-streamer">
                                <label for="add-target">Add Target Channels</label>
                                <input type="search" name="add-target" id="add-target" class="twitch-search" placeholder="Search for a Twitch user..." />
                                <div class="search-results"></div>
                                <div class="selections"></div>
                            </div>
                        </div>
                        <small><code>Moderator</code> and <code>reason</code> rules only work if the streamer has authenticated with elevated permissions. <a href="/panel/streamer-functions">Click here for more information.</a></small>
                    </section>
                </div>

                <section>
                    <h2><i class="fa-solid fa-paper-plane"></i> Submit</h2>

                    <input type="submit" value="Add Ban Automation">
                </section>
            </form>

            <%- include("../../../../partials/footer") %>
        </main>
    </div>
    
    <%- include("../../../../partials/js") %>

    <script src="/assets/js/panel.js"> </script>
    <script src="/assets/js/search.js"> </script>
    <script src="/assets/js/banautomation.js"> </script>
</body>
</html>
