<!DOCTYPE html>
<%
function comma(x) {
    if (!x) return "0";
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
%><html lang="en">
<head>
    <title>TMS Sign On Portal</title>

    <%- include("../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/signon.css">
</head>
<body>
    <main>
        <h1><img class="logo" src="/assets/images/logos/logo.webp" alt="Twitch Mod Squad Logo"> Twitch Mod Squad <span>verify</span></h1>
        <p><strong>Verify your streamers!</strong></p>
        <p><strong>Note: </strong>All added streamer will be recorded.</p>
        <form action="POST">
            <% streamers.forEach(streamer => { let account = streamer.streamer; %>
                <label class="select-streamer">
                    <input type="checkbox" name="streamer" id="streamer-<%= streamer.streamer.id %>" <%= streamer.active ? 'checked="checked"' : "" %>/>
                    <div class="twitch-user"><img src="<%= account.profile_image_url %>" /><div class="user-info"><div class="user-name"><%= account.display_name %></div><div class="user-stats"><%= account.id %> <span class="bullet">&bullet;</span> <%= comma(account.follower_count) %>&nbsp;follower<%= account.follower_count == 1 ? "" : "s"%> <span class="bullet">&bullet;</span> <%= comma(account.view_count) %>&nbsp;view<%= account.view_count == 1 ? "" : "s" %></div></div></div>
                </label>
            <% }) %>
        </form>
    </main>

    <%- include("../../partials/footer") %>
    
    <%- include("../../partials/js") %>
</body>
</html>
