<!DOCTYPE html>
<%
function comma(x) {
    if (!x) return "0";
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
%><html lang="en">
<head>
    <title>TMS Sign On Portal - Verify</title>

    <%- include("../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/signon.css">
    <link rel="stylesheet" href="/assets/css/button.css">
    <link rel="stylesheet" href="/assets/css/panel.css">
</head>
<body>

    <div class="container container-md">
        <div class="col-2"></div>
        
        <div class="col-4">
            <section>
                <h2>Verify Additional Streamers</h2>
                <p>Add additional streamers below to better represent the communities you mod for.</p>
                <% if (!hasToken) { %>
                <div class="alert alert-danger">
                    <strong>You do not have a chat token stored!</strong>
                    Due to changes Twitch made to the Helix API, we can only reliably verify moderator status by sending a message to your streamers channel and reading the userstate of the message.
                    <br>
                    Please authorize TMS to send and receive messages via your account <a href="<%= tokenLink %>">here</a>. This permission is not used outside of this context and may be revoked at any time.
                </div>
                <% } %>
                <div class="verify-streamers"></div>
                <form action="POST" class="verify-streamers">
                    <input type="text" name="new-streamer" id="new-streamer" placeholder="Streamer Twitch Username" required="required" minlength="2" maxlength="16" <%= hasToken ? "" : 'disabled="disabled"' %>>
                    <input type="text" name="message" id="message" placeholder="Message sent to Channel (Default: 'Hello from TMS!')" <%= hasToken ? "" : 'disabled="disabled"' %>>
                    <input type="submit" value="Add Streamer" class="button" <%= hasToken ? "" : 'disabled="disabled"' %>>
                </form>
                <div id="search-user-view"></div>
            </section>
        </div>

        <div class="col-4">
            <section>
                <h2>Verify your Streamers</h2>
                <p><strong>Note: </strong>All added streamer will be recorded. Selected streamers will be monitored by the TMS bot for bans and timeouts.</p>
                <form action="POST" class="authorize-streamers">
                    <h3>Authorized Streamers</h3>
                    <div class="streamers">
                    <% streamers.forEach(streamer => { let account = streamer.streamer; %>
                        <label class="select-streamer">
                            <input type="checkbox" name="streamer" id="streamer-<%= streamer.streamer.id %>" <%= streamer.active ? 'checked="checked"' : "" %>/>
                            <div class="twitch-user"><img src="<%= account.profile_image_url %>" /><div class="user-info"><div class="user-name"><%= account.display_name %></div><div class="user-stats"><%= account.id %> <span class="bullet">&bullet;</span> <%= comma(account.follower_count) %>&nbsp;follower<%= account.follower_count == 1 ? "" : "s"%></div></div></div>
                        </label>
                    <% }) %>
                        <% if (streamers.length === 0) { %>
                            <small>No streamers authorized! Add one below to get started, or press continue if you are not a moderator.</small>
                        <% } %>
                    </div>
                    <div class="login">
                        <a href="#" class="complete">Continue With Verification</a>
                        <small>Ensure you have added all streamers prior to continuing!</small>
                    </div>
                </form>
            </section>
        </div>

        <div class="col-2"></div>
    </div>

    <%- include("../../partials/footer") %>
    
    <%- include("../../partials/js") %>
    <script src="/assets/js/verify.js"></script>
</body>
</html>
