<%
function comma(x) {
    if (!x) return "0";
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
%><a class="twitch-user" href="<%= locals.custom ? locals.custom.replace("{{id}}", account.id) : (locals?.twitchLink ? "https://twitch.tv/" + account.display_name.toLowerCase() : "/panel/user/" + account.id) %>"<%- locals?.twitchLink ? ' target="__blank"' : "" %>><img src="<%= account.profile_image_url %>" /><div class="user-info"><div class="user-name"><%= account.display_name %></div><div class="user-stats"><%= account.id %> <span class="bullet">&bullet;</span> <%= comma(account.follower_count) %>&nbsp;follower<%= account.follower_count == 1 ? "" : "s"%> <span class="bullet">&bullet;</span> <%= comma(account.view_count) %>&nbsp;view<%= account.view_count == 1 ? "" : "s" %></div></div><%- locals.title ? `<div class="title">${title}</div>` : "" %></a>
