<!DOCTYPE html>
<html lang="en">
<head>
    <title>TMS Panel - Multiple Users Found (<%= query %>)</title>

    <%- include("../../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/panel.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="stylesheet" href="/assets/css/log.css">
</head>
<body>
    <%- include("../../../partials/panel/header") %>

    <div class="sidebar-container">
        <%- include("../../../partials/panel/sidebar", {page: "moderator/logs", session: session}) %>
        <main>
            <section>
                <h2>Multiple Users Found</h2>

                Multiple users found for query <code><%= query %></code>

                <% users.forEach(user => { %>
                    <% if (user.discriminator) { %>
                        <%- include("../../../partials/panel/user/discord", {account: user}) %>
                    <% } else { %>
                        <%- include("../../../partials/panel/user/twitch", {account: user}) %>
                    <% } %>
                <% }); %>
            </section>

            <%- include("../../../partials/footer") %>
        </main>
    </div>
    
    <%- include("../../../partials/js") %>

    <script src="/assets/js/panel.js"> </script>
</body>
</html>
