<header>
    <div class="wrapper">
        <a href="/" class="heading">TMS Database</a>
        <nav>
            <a href="<%= domain %>"><i class="fa-solid fa-house"></i> Home</a>
            <a href="<%= domain %>user/lookup"><i class="fa-solid fa-user-magnifying-glass"></i> User Lookup</a>
            <% if (locals?.user && locals.user !== null) { %>
                <a href="<%= domain %>user/<%= user.id %>" class="highlight"><img src="<%= user.profile_image_url %>" alt="Profile picture for <%= user.display_name %>"> <%= user.display_name %></a>
            <% } else { %>
                <a href="<%= twitch_uri %>" class="highlight"><i class="fa-brands fa-twitch"></i> Login</a>
            <% } %>
        </nav>
    </div>
</header>