<!DOCTYPE html>
<html lang="en">
<head>
    <title>TMS : User Database : Lookup</title>
    
    <%- include("../../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/database.css">
    <link rel="stylesheet" href="/assets/css/button.css">

</head>
<body>
    
    <%- include("../../../partials/database/header", {twitch_uri: twitch_uri, domain: domain, user: locals?.user}) %>

    <main class="wrapper">

        <h1>
            <i class="fa-light fa-user-magnifying-glass"></i> User Lookup
        </h1>

        <% if (locals?.error) { %>
            <div class="alert alert-danger" onclick="$(this).remove();">
                <strong>An error occurred while processing this request!</strong>
                <%= error %>
            </div>
        <% } %>

        <%- include("../../../partials/database/lookup", {query: locals?.query}) %>
    </main>

    <%- include("../../../partials/database/footer", {user: locals?.user}) %>

    <%- include("../../../partials/js") %>

    <script src="/assets/js/database/twitchSearch.js" async> </script>

</body>
</html>
